.sidus-collapse_wrapper {
  overflow: hidden; }

.sidus-collapse_header {
  position: relative;
  background: #fff;
  z-index: 10; }

.sidus-collapse_box {
  overflow: hidden;
  transition: height .5s ease-in-out; }
  .sidus-collapse_box.collapsed {
    height: 0; }
