.sidus-collapse {

    &_wrapper {
	display: flex;
	flex-direction: column-reverse;
        overflow: hidden;
    }

    &_header {
    	position: relative;
	background: #fff;
	z-index: 10;
    }

    &_box {
        transition: height .5s ease-in-out;

        &.collapsed {
            height: 0;
        }
    }
}
