.sidus-collapse {

    &_wrapper {
        overflow: hidden;
    }

    &_header {
        position: relative;
        background: #fff;
        z-index: 10;
    }

    &_box {
        overflow: hidden;
        transition: height .5s ease-in-out;

        &.collapsed {
            height: 0;
        }
    }
    }
