.sidus-checkbox {
  &_wrapper {
    &.horizontal {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .sidus-checkbox_content {
        flex: 1;
      }
    }

    &.disabled {
      .sidus-checkbox_icon {
        .sidus-icon {
          cursor: not-allowed!important;
        }
      }
    }
  }
}
