// color
$COLOR_INK_GREEN: #46aa5f;
$COLOR_FA: #fafafa;
$COLOR_F2: #f2f2f2;
$COLOR_REQUIRE_RED: #fc5046;
$COLOR_SHADOW_INK_GREEN: #46aa55;
$COLOR_DEEP_DARK: #3a3a3a;
$COLOR_666: #666;
$COLOR_999: #999;
$COLOR_D8: #d8d8d8;
$COLOR_D2: #d2d2d2;
$COLOR_B3: #b3b3b3;
$COLOR_40: #404040;